@import url('https://fonts.googleapis.com/css?family=Fira Code');

body {
    --comment-color: #6A3E37;
    --keyword-color: #A63D40;
    --token-color: #3D2B56;
    --operator-color: #110B11;
    --deleted-color: #A63D40;
    --important-color: #FF715B;
    --literal-color: #498070;
    --name-color: #52796F;
    --function-color: #52796F;
    --punctuation-color: #110B11;
}

body.dark {
    --comment-color: #ABC4B0;
    --keyword-color: #E0607E;
    --token-color: #CAD2C5;
    --operator-color: #E0607E;
    --deleted-color: #A63D40;
    --important-color: #FF715B;
    --literal-color: #CD8B76;
    --name-color: #52796F;
    --function-color: #729f7b;
    --punctuation-color: #ABC4B0;
}

code[class*="language-"],
pre[class*="language-"] {
    color: var(--text-color);
    background: none;
    font-family: "Fira Code", Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    tab-size: 4;

    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    transition-duration: 500ms;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: var(--border-color) solid 1px;
    border-radius: 4px;
    text-shadow: none;
    background-color: var(--code-background-color);
}

pre[class*="language-"] > code {
    position: relative;
    display: block;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--comment-color);
}

.token.punctuation {
    color: var(--punctuation-color);
}

.token.operator {
    color: var(--operator-color);
    background-color: transparent;
}

.namespace {
    color: var(--name-color)
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
    color: var(--token-color);
}

.token.boolean,
.token.number {
    color: var(--literal-color);
}


.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--literal-color);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--token-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--keyword-color);
}

.token.regex,
.token.important {
    color: var(--important-color);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: var(--deleted-color);
}

.token.function {
    color: var(--function-color);
}

/* Line numbers */

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre[class*=language-].line-numbers > span.token {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
    position: relative;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: var(--text-color);
    display: block;
    padding-right: .8em;
    text-align: right
}
